body {
	font-family: "Arial", sans-serif;
    color: white;
	margin: 0;
	padding: 0;
	background-color: #f4f4f4;
    text-align: center;
}

#game-info {
  background-color: rgba(5, 99, 150, 0.87);
  border: 2px solid rgb(3, 94, 94);
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin: 1rem auto;
  width: 90%;
  max-width: 700px;
  text-align: left;
  font-size: 1rem;
}

#game-info h2 {
  margin-top: 0;
  color: white;
  text-align: center;
}

#game-info li {
  margin-bottom: 0.5rem;
}

#game-container {
  background-color: rgba(0, 0, 255, 0.788);
  padding: 1.5rem;
  margin: 2rem auto;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  margin-top: 15%;
}
 
main {
	padding: 1.25em;
}

button {
  display: inline-block;
  margin: 0.5rem;
  padding: 0.75rem 1.5rem;
  background-color: teal;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkcyan;
}

#answers button {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

